
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
  }
  .heading1{
    text-align: center;
    color: rgb(34, 168, 178);
    font-size: 25px;
}
.heading2{
    color: rgb(10, 1, 1);
    text-align: center;
    
}
.card{
    margin-top: 20px;
    display:inline-block;
    margin-right: 80px;
    margin-left: 50px; 
}
.divcontact{
    margin-top: 15px;
    background-color: rgba(156, 72, 177, 0.555);
}
.contactp{
    color: firebrick;
}
.img1{
margin-left: 200px;
margin-right: 250px;
margin-top: 10px;
}
.aboutus{
    text-align: center;
    font-size: 35px;
}